<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Datos Faltantes</title>
    <link rel="stylesheet" href="../styles/styles.css" />
</head>

<body>
    <form action="" id="form-container">

        <input type="number" class="input" id="user-cc" placeholder="Cedula" required />
        <input type="text" class="input" id="user-fullname" placeholder="Nombre Completo" required />
        <input type="text" class="input" id="user-address" placeholder="Dirección" required />
        <input type="number" class="input" id="user-phone" placeholder="Telefono" required />
        <input type="date" class="input" id="user-born-date" placeholder="Telefono" required />
        <button type="button" class="button bg-black" id="save-btn">
            Guardar
        </button>
    </form>

    <script type="module">
        import { addData } from "../controllers/global.js";
        import {
            onAuthChanged,
        } from "../controllers/global.js";
        const saveBtn = document.getElementById("save-btn");
        const cc = document.getElementById("user-cc");
        const fullName = document.getElementById("user-fullname");
        const address = document.getElementById("user-address");
        const phone = document.getElementById("user-phone");
        const bornDate = document.getElementById("user-born-date");

        let currentUser = null; 
        onAuthChanged((user) => {
            if(!user) {
                window.location.href = "../index.html";
                return;
            }
            currentUser = user;
        });
        saveBtn.addEventListener("click", async () => {
            if(currentUser) {
            await addData(
                currentUser.uid,
                cc.value,
                fullName.value,
                address.value,
                phone.value,
                currentUser.email,
                bornDate.value
            );
                window.location.href = "./home.html";
            } else {
                alert("Error obteniendo usuario");
            }
        }); 
    </script>
</body>

</html>